{% load static %}
<html>
    <head>
        <title>A Django blog</title>
        
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>
    <body style="background-image: linear-gradient(to right top, #5b0000, #790030, #870e65, #783ba0, #1a63d6); padding-left: 15px; font-family: 'Lobster'; color: rgb(255, 255, 255); font-size: 30px;">
        <div class="page-header">
            <h1><a href="/">Shreyas' Django Blog</a></h1>
        </div>

        <div class="content container">
                <div class="row">
                    <div class="col-md-8" ></div>
                        {% for post in posts %}
                            <div class="post">
                                <div class="date">
                                    <p style="padding-left: 15px;">published: {{ post.published_date }}</p>
                                </div>
                                <h1 style="color: rgb(255, 255, 255); font-family: Times;"><a href="">{{ post.title }}</a></h1>
                                <p style="color: rgb(255, 255, 255); font-family: 'Times New Roman', Times, serif; font-size: 16px;">{{ post.text|linebreaksbr }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </body>
</html>